---
---
<div class="border-t border-t-gray-800 text-xs text-right py-5 px-2">
  <span>Page built in <a href="https://contentful.com/">Contentful</a> and <a href="https://astro.build">Astro</a></span>
  <span class="mx-3">&middot;</span>
  <a href="https://github.com/msieroslawska/przepisy-babci-lali/">Source</a>
</div>