---
const links = [
  ['Home', '/'],
  ['Recipes', '/recipes'],
]
---
<nav class="flex items-center justify-end mx-auto my-0 max-w-7xl px-12 py-6">
  <ul class="flex m-0 gap-5">

  {links.map(([title, url]) => (
    <li class="border-b-2 border-b-transparent hover:border-b-sky-500">
  <a href={url}>{title}</a>
    </li>
  ))}
  </ul>
</nav>