---
import Layout from "@layouts/layout.astro";
import { getAllRecipes, mapRecipes } from "../lib/contentful";

const recipes = await getAllRecipes();
const mappedRecipes = mapRecipes(recipes);
---

<Layout>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4">
      {mappedRecipes.map((recipe) => (
        <div class="relative overflow-hidden w-full">
            <a href={`/recipes/${recipe.slug}/`}>
              <img class="h-full w-full rounded-lg opacity-50 object-cover" src={recipe.image?.fields.file?.url} alt={recipe.title}>
              <p class="absolute bottom-2 right-0 text-xl text-right">{recipe.title}</p>
            </a>
        </div>
      ))}
  </div>
</Layout>
