---
import RecipeListLayout from "@layouts/RecipeListLayout.astro";
import { getMappedRecipes } from "../lib/contentful";

const mappedRecipes = await getMappedRecipes();
---

<RecipeListLayout title="Recipes">
  <ul class="list-disc list-inside">
    {
      mappedRecipes.map(recipe => (
        <li>
          <a
            class="link hover:link-accent"
            href={`/recipes/${recipe.slug.en}/`}
          >
            {recipe.title.pl} | {recipe.title.en}
          </a>
        </li>
      ))
    }
  </ul>
</RecipeListLayout>
