---
import Layout from "@layouts/Layout.astro";
import { getMappedRecipes } from "../lib/contentful";

const mappedRecipes = await getMappedRecipes();
---

<Layout title="Recipes">
  <ul>
    {
      mappedRecipes.map(recipe => (
        <li>
          <a href={`/recipes/${recipe.slug.en}/`}>
            <h2>
              {recipe.title.pl} | {recipe.title.en}
            </h2>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
