---
import Layout from "@layouts/Layout.astro";
import { getMappedRecipes } from "../lib/contentful";

const mappedRecipes = await getMappedRecipes();
---

<Layout title="Recipes">
  <ul>
    {
      mappedRecipes.map(recipe => (
        <li>
          <a href={`/recipes/${recipe.slug.en}/`}>
            <h2>{recipe.title.en}</h2>
            <p>{JSON.stringify(recipe.title)}</p>
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
