---
import Container from "@components/Container.astro";
import type { NavigationItem } from "types";

export interface Props {
  navigationItems: NavigationItem[];
}

const { navigationItems } = Astro.props;
---

<Container>
  <header class="navbar">
    <ul class="">
      {
        navigationItems.map(item => (
          <li class="btn bg-primary">
            <a href={item.path}>{item.title}</a>
          </li>
        ))
      }
    </ul>
  </header>
</Container>
