---
import Container from "@components/Container.astro";

const items = [
  {
    title: "Strona główna | Home",
    path: "/",
  },
  {
    title: "Przepisy | Recipes",
    path: "/RecipeList",
  },
];
---

<Container>
  <header class="navbar">
    <ul class="">
      {
        items.map(item => (
          <li class="btn bg-primary">
            <a href={item.path}>{item.title}</a>
          </li>
        ))
      }
    </ul>
    <!-- </div> -->
  </header>
</Container>
