---
import { Image } from "astro:assets";
import { getHero } from "../lib/contentful";

const { heroImage, hero } = await getHero();
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24"
>
  <div class="py-6 md:order-1 md:block">
    <Image src={heroImage} alt="Babcia i ja" width={500} height={1000} />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
    >
      {hero.fields?.name["pl"]}
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {hero.fields?.description["pl"]}
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      {hero.fields?.description["en"]}
    </p>
  </div>
</main>
