---
import { Image } from "astro:assets";
import { getHero } from "../lib/contentful";

const { heroImage, hero } = await getHero();
---

<main class="hero">
  <div class="hero-content flex-col lg:flex-row">
    <Image
      src={heroImage}
      alt="Babcia i ja"
      width={500}
      height={1000}
      class="max-w-sm rounded-lg shadow-2xl"
    />

    <div>
      <h1 class="text-5xl font-bold">
        {hero.fields?.name["pl"]}
      </h1>
      <p class="py-3">
        {hero.fields?.description["pl"]}
      </p>
      <p class="py-3">
        {hero.fields?.description["en"]}
      </p>
      <button class="btn btn-primary"
        ><a href="/RecipeList">Przepisy | Recipes</a></button
      >
    </div>
  </div>
</main>
