---
import { Icon } from "astro-icon/components";

interface Props {
  class?: string;
  href: string;
  iconVariant?: "astro" | "contentful" | "github";
}

const { href, class: className, iconVariant, ...rest } = Astro.props;
---

<span>
  {iconVariant && <Icon class="text-black w-4 h-4 inline" name=`simple-icons:${iconVariant}` />}
  <a href={href} {...rest} class:list={["hover:underline", className]}
    ><slot />
  </a>
</span>
