---
import Container from "@components/Container.astro";
import { isCurrentPage } from "@utils/navigation";
import type { Navigation } from "types";

export interface Props {
  navigation: Navigation;
}

const { navigation } = Astro.props;
---

<Container>
  <header class="navbar">
    <ul class="">
      {
        navigation.navigationItems.map(item => {
          const isCurrent = isCurrentPage(navigation.currentPage, item.path);
          return (
            <li
              class={`btn btn-neutral hover:btn-accent mx-4 ${isCurrent ? "btn-disabled" : ""}`}
            >
              <a href={item.path}>{item.title}</a>
            </li>
          );
        })
      }
    </ul>
  </header>
</Container>
