---
import Container from "@components/Container.astro";
import { createNavigation, isCurrentPage } from "@utils/navigation";

const currentPath = Astro.url.pathname;
const nav = createNavigation(currentPath);
---

<Container class="grid-in-nav">
  <header class="navbar">
    <ul class="">
      {
        nav.navigationItems.map(item => {
          const isCurrent = isCurrentPage(nav.currentPage, item.path);
          return (
            <li
              class={`btn btn-neutral hover:btn-accent mx-4 ${isCurrent ? "btn-disabled" : ""}`}
            >
              <a href={item.path}>{item.title}</a>
            </li>
          );
        })
      }
    </ul>
  </header>
</Container>
