---
import { Icon } from "astro-icon/components";
import type { ParsedIngredients } from "@layouts/RecipeLayout.astro";

type Props = {
  description: string;
  iconVariant: "pl" | "en";
  ingredients: ParsedIngredients;
  title: string;
};
const { description, iconVariant, ingredients, title } = Astro.props;
---

<article class="flex-1 p-2 prose prose-headings:underline">
  <div>
    <h1>
      <Icon
        class="text-black w-4 h-4 inline"
        name=`circle-flags:${iconVariant}`
      />
      {title}
    </h1>
    <ul>
      {ingredients.map((ingredient: any) => <li>{ingredient}</li>)}
    </ul>
  </div>
  <div class="flex-1 p-4" set:html={description} />
</article>
