---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import "@fontsource-variable/inter/index.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <div class="grid grid-areas-pageLayout grid-rows-pageLayout min-h-screen">
    <Navbar />
    <slot />
    <Footer />
  </div>
</BaseLayout>
