---
import Layout from '@layouts/Layout.astro';
const { description, title } = Astro.props
---

<Layout title={title}>
  <h1>{title}</h1>
  <article class="prose lg:prose-xl" set:html={description} />
</Layout>