---
interface Props {
  href: string;
  class?: string;
}

const { href, class: className, ...rest } = Astro.props;
---

<a
  href={href}
  {...rest}
  class:list={[
    "hover:underline",
    className,
  ]}
  ><slot />
</a>